{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}

{% include 'components/header-logged-user.html' %}

{% endblock %}

{% block title %}
        <div class="col-5"><h1>New Question</h1></div>
{% endblock %}

{% block content %}
        <div class="ask-title">
          <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Title</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Write title of your question here." maxlength="255"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea2" class="form-label">Text</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="10" placeholder="Write your question here."maxlength="3000"></textarea>
          </div>
          <label for="exampleFormSelect" class="form-label">Tags</label>
          <select class="form-select" id="exampleFormSelect" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">an partiendo</option>
            <option value="2">sociosqu iriure</option>
            <option value="3">iudicabit</option>
            <option value="4">pertinax</option>
            <option value="5">omittam</option>
            <option value="6">luctus</option>
            <option value="7">inimicus</option>
          </select>
          <div class="ask-button">
            <a class="btn btn-success btn-lg" href="{% url 'index' %}" role="button">Ask</a>
          </div>
        </div>
{% endblock %}


