{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}

{% include 'components/header-logged-user.html'%}

{% endblock %}

{% block title %}
    <div class="col-5" style="display: inline-block"><h1>Hot questions</h1></div>
    <div class="col-5" style="display: inline-block"><h5 class="index-hot-questions"><a href="{% url 'index' %}">New Questions</a></h5></div>
{% endblock %}

{% block content %}

{% for question in questions %}

{% include 'components/index-question.html' %}

{% endfor %}

{% endblock %}

{% block navigation %}

{% include 'components/navigation.html' %}

{% endblock %}