{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
<div class="row align-items-center">
    <div class="col-2"><h1 class="login-person-header">Log In</h1></div>
    <div class="col-3">Need an account? <a href="{% url 'signup' %}">Sign Up</a></div>
</div>
{% endblock %}

{% block content %}
<div class="col-9">
    <form action="login" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
    </form>
</div>
{% endblock %}