{% extends 'layouts/base.html'%}
{% load static %}

{% block header %}

{% include 'components/header-logged-user.html'%}

{% endblock %}

{% block content %}

<div class="question-question">
  <div class="row">
    <div class="col-2">
    <div class="question-questions-avatar">
      <img class ="question-question-img" src="{% static 'assets/avatar-person.svg'%}" alt="avatar">
    </div>
    </div>
    <div class="col-10">
      <div class="question-question-text">
        <h2><a href="#" class="index-question-header">{{question.title}}</a></h2>
        <div>
            {{question.content}}
        </div>
    </div>
  </div>
  <div class="index-question-footer">
    <div class="row">
      <div class="col-2">
        <div class="vote-box">
          <div class="votes">5</div>
          <div class="vote">
            <div class="voteUp"><a href="#"><img src="{% static 'assets/upvote.svg'%}" alt="UpVote"></a></div>
            <div class="voteDown"><a href="#"><img src="{% static 'assets/downvote.svg'%}" alt="DownVote"></a></div>
          </div>
        </div>
      </div>
      <div class="col-8">
          <div class="question-tag">
              Tags:
              {% for tag in question.tags %}

              <div class="index-question-tags"><a href="{% url 'tag_listing' tag %}">{{tag}}</a></div>

              {% endfor %}
          </div>
      </div>
    </div>
  </div>
    <hr>
  </div>
{% for answer in answers %}

{% include 'components/question-answer.html' %}

{% endfor %}

    <hr>
    <div class="question-selfanswer">
         <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="4" placeholder="Enter your answer here"></textarea>
          </div>
          <div class="question-button">
            <a class="btn btn-success btn-lg" href="#" role="button">Answer</a>
          </div>
    </div>
</div>

{% endblock %}

{% block navigation %}

{% include 'components/navigation.html' %}

{% endblock %}