{% extends 'layouts/base.html' %}
{% load static }

{% block header %}

{% include 'components/header-logged-user.html' %}

{% endblock %}

{% block title %}

<h1 class="settings-person-header">Settings: Person 1</h1>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-9">
    <div class="mb-3 row">
      <label for="dinamicLogin" class="col-sm-3 col-form-label">Login</label>
      <div class="col-sm-6">
        <textarea class="form-control" id="dinamicLogin" rows="1" placeholder="person1_Login"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="dinamicEmail" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="dinamicEmail" placeholder="person1@example.com">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="dinamicNickname" class="col-sm-3 col-form-label">Nickname</label>
      <div class="col-sm-6">
        <textarea class="form-control" id="dinamicNickname" rows="1" placeholder="person1_Nickname"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="dinamicImage" class="col-sm-3 col-form-label">Upload avatar</label>
      <div class="col-sm-3">
        <a href="#"><img src="../static/assets/avatar-person.svg" id="dinamicImage" alt="uploadImage"></a>
      </div>
    </div>
    <form class="row g-3">
      <label class="col-sm-3 col-form-label"></label>
        <div class="col-auto">
          <textarea class="form-control" rows="1" placeholder="c:\avatar.jpg"></textarea>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-secondary mb-3">Continue</button>
        </div>
    </form>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label"></label>
      <div class="col-sm-3">
        <a class="btn btn-outline-dark" href="{% url 'index' %}" role="button">Save</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
