{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
<div class="row align-items-center">
    <div class="col-3"><h1 class="login-person-header">Sign Up</h1></div>
    <div class="col-4" id="passwordHelpBlock" class="form-text">Already have an account? <a href="{% url 'login' %}">Log In</a></div>
</div>
{% endblock %}

{% block content %}

<div class="col-9">
    <form action="signup" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            {% endbuttons %}
    </form>
</div>

{% endblock %}
